Python==3.7.3
pandas==0.24.2
matplotlib==3.1.2
seaborn==0.9.0

Script for terminal:
python main_script.py -p /Users/juandediegosuanzes/Desktop/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db -u https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes -c